    :root { --glass: rgba(255,255,255,0.06); }
    body { background: radial-gradient(1200px 700px at 80% -10%, rgba(96,165,250,.25), transparent 60%),
                      radial-gradient(1000px 600px at -10% 20%, rgba(34,211,238,.18), transparent 60%),
                      #0b1020; }
    .glass { background: var(--glass); backdrop-filter: blur(14px); border: 1px solid rgba(255,255,255,0.07); }
    .neon { text-shadow: 0 0 10px rgba(96,165,250,.35), 0 0 20px rgba(34,211,238,.25); }

.grad-border { position: relative; z-index: 0; }
.grad-border::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 1rem;
  padding: 1px;
  background: linear-gradient(90deg, rgba(96,165,250,.7), rgba(34,211,238,.7));
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor; /* Safari/WebKit */
  mask-composite: exclude;
  z-index: 0;
  pointer-events: none;}
.grad-border > * { position: relative; z-index: 1; }

    .grid-auto-fit { display: grid; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); gap: 1rem; }
    .mono { font-variant-numeric: tabular-nums; }
    .badge { padding: .25rem .5rem; border-radius: .5rem; }

    #legacy-canvas { position:absolute; left:-99999px; top:-99999px; width:1px; height:1px; overflow:hidden; }
	.center-card{
  display:flex;
  flex-direction:column;
  align-items:center;       /* horizontal */
  justify-content:center;   /* vertikal   */
  text-align:center;
  min-height:6.5rem;        /* ~h-26; passt zu deinen Boxen */
  }

input#walletcustom { text-align: center !important; }

input#walletcustom::placeholder { text-align: center; }
input#walletcustom::-webkit-input-placeholder { text-align: center; }
input#walletcustom::-moz-placeholder { text-align: center; }
input#walletcustom:-ms-input-placeholder { text-align: center; }
input#walletcustom::-ms-input-placeholder { text-align: center; }

input#algovariant { text-align: center !important; }

input#algovariant::placeholder { text-align: center; }
input#algovariant::-webkit-input-placeholder { text-align: center; }
input#algovariant::-moz-placeholder { text-align: center; }
input#algovariant:-ms-input-placeholder { text-align: center; }
input#algovariant::-ms-input-placeholder { text-align: center; }

input#pass { text-align: center !important; }

input#pass::placeholder { text-align: center; }
input#pass::-webkit-input-placeholder { text-align: center; }
input#pass::-moz-placeholder { text-align: center; }
input#pass:-ms-input-placeholder { text-align: center; }
input#pass::-ms-input-placeholder { text-align: center; }

input#pooladdress { text-align: center !important; }

input#pooladdress::placeholder { text-align: center; }
input#pooladdress::-webkit-input-placeholder { text-align: center; }
input#pooladdress::-moz-placeholder { text-align: center; }
input#pooladdress:-ms-input-placeholder { text-align: center; }
input#pooladdress::-ms-input-placeholder { text-align: center; }
